*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    
body{
    background-color: hsl(0, 0%, 8%);
    display: grid;
    place-items: center;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    
}
.image1{
    border-radius: 100px;
    height: 100px;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.dude{
    margin-top: 10px;
    color: rgb(4, 173, 4);
}
.img1{
    width: 30%;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:hsl(0, 0%, 12%);
    /* border: solid 6px red; */
    width: 350px;
    padding:20px;
    border-radius: 10px;
    height: 550px;
}

.container{
    /* border: solid blue 4px; */
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 20;
}
.dude_again{
    color: white;
    margin-top: 20px;
}
.button{
    margin-top: 15px;
    padding: 10px 10px;
    color: white;
    background-color: hsl(0, 0%, 20%);
    border-style: none;
    border-radius: 5px;
}
.button:hover{
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: black;
}